/* src/styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;

}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 9px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.progress {
  width: 100%;
  margin-top: 10px;
}


.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar p {
  margin: 0;
}

/* src/ImageList.css */

.image-list {
  display: flex;
  flex-wrap: wrap;
}

.image-item {
  position: relative;
  margin: 10px;
}

.image-thumbnail {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-item:hover .image-overlay {
  opacity: 1;
}

.delete-icon,
.arrow-icon {
  color: #fff;
  font-size: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.delete-icon:hover,
.arrow-icon:hover {
  color: #ff4d4f;
}


/* src/styles.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.app-container {
  position: fixed;
  top: 20%;
  left: 20%;
  right: 30%;
  background: #dfe1e2;
  padding: 1px;
  color: #141212;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
}

.content-container {
  margin-top: 6px; /* Adjust the margin based on your navbar height */
  padding: 20px;
}



.login-signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-signup-wrapper {
  border: 2px solid #ddd;
  padding: 40px;
  border-radius: 8px;
  width: 300px;
}

.logout-btn {
  background-color: #cc5557;
}

.logout-btn:hover {
  background-color: #fb0307;
}
